<!-- ieltsapp/templates/menu.html -->
<!DOCTYPE html>
<html>
   	<div class="vertical-menu">
	  <a href="/" class="active">Home</a>
	  <a href="/writing">Writing</a>
	  <a href="/speaking">Speaking</a>
	  <a href="/listening">Listening</a>
	  <a href="/reading">Reading</a>
	</div>

	<h1>Reading</h1>
	<h1>Speaking</h1>
	<h1>Reading</h1>
	
	<li><a href="/">Go bacngk home</a>
	<li><a href="/writing">Writing</a>
	<li><a href="/post/500">Author Le Nguyen</a>	
	<li><a href="/post/300">Author Ha Tran</a>	
	<li><a href="/post/100">Author Tram Le</a>	
    <a href="/">Go back home</a>    
</html>
