<!-- ieltsapp/templates/writing.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Writing!</title>
		<link rel="import" href="imports\main_page_header.html">		
		<link rel="stylesheet" type="text/css" href='{% static "/css/foundation.css" %}'>	
		<link rel="stylesheet" type="text/css" href='{% static "/css/menu.css" %}'>				
		<style>
			#top{
				background-image: url('{% static "pictures/117578.jpg" %}');
			}
			</style>
		
    </head>
    <body>
		<div id="top" align="center">
			<h1>Nana the world of IELTS!</h1>
		</div>
	<div class="horitical-menu">
		<ul class="horizontal">
		  <li><a href="/">Home</a></li>
		  <li><a href="/listening">Listening</a></li>
		  <li><a href="/speaking">Speaking</a></li>
		  <li><a href="/reading">Reading</a></li>		  
		  <li><a href="/writing" class="active">Writing</a></li>
		  </ul>
		</div>
		<div class="mains">
		<div class="ui_columns datepicker_box trip_search metaDatePicker  rounded_lockup easyClear usePickerTypeIcons hasDates with_children">
			<div class="prw_rup prw_search_typeahead ui_column is-3 responsive_inline_priority search_typeahead wctx-tripsearch" name="search_typeahead">
				<div class="ui_picker">
				<span class="typeahead_align ui_typeahead">
				<input type="text" class="typeahead_input" tabindex="1" placeholder="Phrases or topics" autocorrect="off" spellcheck="false"></span>
				<div class="data_holder hidden"></div>
				</div>
			</div>
			<div class="prw_rup prw_common_form_submit ui_column responsive_inline_hidden submit_wrap">
				<button id="SUBMIT_HOTELS" class="form_submit" tabindex="5">
				<span class="ui_icon search submit_icon"></span>
				<span class="submit_text">Find topics</span>
				</button><span class="ui_loader dark fill"></span>
			</div>
		</div>


		<div class="left-main">
			<div class="shelf_header">
				Task 1
			</div>			
			<div class="item-image-parent shelf_item_container ui_columns">
			{% for v in part1 %}
				<div class="   ui_column">
					<div class="poi ui_shelf_item_container ">
						<a href="{{v.html}} " class="ui_poi_thumbnail ">						
						<div class="image_wrapper  ">
						<img src="{{v.img}}"  alt="Punta Cana" class="image">
					</div>
					<span class="item name" title="Punta Cana">{{v.caption}}</span></a>
				</div>
				</div>
			{% endfor %}
			</div>
		
			<div class="shelf_header">
				Task 2
			</div>			
			<div class="item-image-parent shelf_item_container ui_columns">
			{% for v in part2 %}
				<div class="   ui_column">
					<div class="poi ui_shelf_item_container ">
						<a href="{{v.html}} " class="ui_poi_thumbnail ">						
						<div class="image_wrapper  ">
						<img src="{{v.img}}"  alt="{{v.caption}}" class="image">
					</div>
					<span class="item name" title="{{v.caption}}">{{v.caption}}</span></a>
				</div>
				</div>
			{% endfor %}
			</div>
			
			<div class="shelf_header">
				Part 2
			</div>			
			<div class="item-image-parent shelf_item_container ui_columns">
			{% for v in part2 %}
				<div class="   ui_column">
					<div class="poi ui_shelf_item_container ">
						<a href="{{v.html}} " class="ui_poi_thumbnail ">						
						<div class="image_wrapper  ">
						<img src="{{v.img}}"  alt="{{v.caption}}" class="image">
					</div>
					<span class="item name" title="{{v.caption}}">{{v.caption}}</span></a>
				</div>
				</div>
			{% endfor %}
			</div>
			
			<div class="shelf_header">
				Part 3
			</div>			
			<div class="item-image-parent shelf_item_container ui_columns">
			{% for v in part3 %}
				<div class="   ui_column">
					<div class="poi ui_shelf_item_container ">
						<a href="{{v.html}} " class="ui_poi_thumbnail ">						
						<div class="image_wrapper  ">
						<img src="{{v.img}}"  alt="{{v.caption}}" class="image">
					</div>
					<span class="item name" title="{{v.caption}}">{{v.caption}}</span></a>
				</div>
				</div>
			{% endfor %}
			</div>
			
		
		</div>
		<div class="right-main">		
			<div class="spacerlist">
			      
			      <h3>Hightlight topics | <a href="index-worksheets.htm">Worksheets!</a></h3>
			      <ul>
			        <li><strong>Level 2</strong> <a href="english/level2-beginners-true.htm">Work</a></li>
			        <li><strong>Level 3</strong> <a href="english/level3-beginners-high.htm">Traveling</a></li>
			        <li><strong>Level 4</strong><a href="english/level4-intermediate-low.htm">Work</a></li>
			        <li><strong>Level 5</strong> <a href="english/level5-intermediate-true.htm">50Lessons for Mid Intermediate</a></li>
			        <li><strong>Level 6</strong> <a href="english/level6-intermediate-high.htm">50 Lessons for High Intermediate</a></li>
			        <li><strong>Level 7</strong> <a href="english/level7-advanced.htm">50 Lessons for Advanced</a></li>
		          </ul>		      
			</div>		     
		</div>				
		</div>		
				
				
			
    </body>
	
	
</html>