<!DOCTYPE html>
<html>
<head>
<title>My Web</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="example.css">
</head>

<body>
<div class="topnav">
<a> City </a>
<a> IELTS </a>
<a> Contact </a>
<a> About </a>
 <input type="text" placeholder="Search..">
</div>
<div >
	<div class="menu-container">
	<ul>
<li class="menu-line"> City </li>
<li class="menu-line"> IELTS </li>
<li class="menu-line"> Contact </li>
<li class="menu-line"> About </li>
	</ul>
	</div>
<div class="menu-container">
<p > Quick Link</p>
<form>  
  <input class="defaultTextBox" type="text" name="firstname" placeholder="School Search.." ><br>
</form>
</div>
<div class="menu-container-last">
</div>
<div style="clear: both;"></div>

<div>
<p > New Deals</p>
</div>

<div class="everyday-deal" >
<div class="off">
<p class="off-1"> 8% OFF </p>
<p class="expire"> Expires today! </p>
</div>
<div class="info">
</div>
<div class="get-coupon>">
</div>
</div>

<div class="everyday-deal" >
<div class="off">
<p class="off-2"> 18% OFF </p>
<p class="expire"> Expires today! </p>
</div>
<div class="info">
</div>
<div class="get-coupon>">
</div>
</div>


<div class="everyday-deal" >
<div class="off">
<p class="off-3"> 38% OFF </p>
<p class="expire"> Expires today! </p>
</div>
<div class="info">
</div>
<div class="get-coupon>">
</div>
</div>

</div>
<div style="clear: both;"></div>

<div class="everyday-deal-text">
<p class = "everyday">Everyday deals</p>
<div class="suggest">
<p>Hat Yai 10% Off </p>
<p>Thailand</p>
<div class="detail">
See deals
</div>
</div>
<div class="suggest" background="0001.jpg">
<p>Hat Yai 10% Off </p>
<p>Thailand 0001</p>
<div class="detail">
See deals
</div>
</div>
<div class="suggest">
<p>Hat Yai 10% Off </p>
<p>Thailand 0002</p>
<div class="detail">
See deals
</div>
</div>
<div class="suggest">
<img src="0001.jpg" style="display:none;">
<p>Hat Yai 10% Off </p>
<p>Thailand  0003</p>
<div class="detail">
See deals
</div>
</div>
<div class="suggest">
<p>Hat Yai 10% Off </p>
<p>Thailand</p>
<div class="detail">
See deals
</div>
</div>
<div class="suggest">
<p>Kuala Lumpur 17%</p>
<p>Malaysia</p>
<div class="detail">
See deals
</div>
</div>
<div class="suggest-break">
</div>
</div>

<div style="clear: both;"></div>

<div class="top-school-text">
<p class = "everyday">Top School in HCM</p>

<div class="suggest" background="0005.jpg">
<p class="ten-truong"> Truong trung hoc </p>
<p class="more-info"> <a>Hello</a> </p>
<li> Ha Noi mua nay vang nhung con mua
<li> Lay troi mua xuong ma ta nhu rat voi vang lao theo chung ban de roi ngan ngo hoi tiec mot thoi
<ul class="end-box">
<li class="end-box"> Rate </li>
<li class="end-box"> | </li>
<li class="end-box"> More info </li>
</ul>
</div>

<div class="suggest" background="0004.jpg">
<p class="ten-truong"> Truong tieu hoc<p>
<p class="more-info"> <a>Hello</a> <p>
<li> Ha Noi mua nay vang nhung con mua
<li> Lay troi mua xuong
<ul class="end-box">
<li class="end-box"> Rate </li>
<li class="end-box"> | </li>
<li class="end-box"> More info </li>
</ul>
</div>

<div class="suggest" background="0002.jpg">
<p class="ten-truong"> Truong dai hoc </p>
<p class="more-info"> <a> Hello </a> </p>
<p class="noidung"> Ha Noi mua nay vang nhung con mua </p>
<ul class="end-box">
<li class="end-box"> <a class="link" href="/" >Rate</a> </li>
<li class="end-box"> | </li>
<li class="end-box"> <a class="link" href="/" >More info</a>  </li>
</ul>
</div>

<div class="suggest" background="0003.jpg">
<p class="ten-truong"> Truong Nguyen Thi Hong Gam </p>
<p class="more-info"> <a>See more </a></p>
<p class="noidung"> Get 8% your accomodation in New York now </p>
<ul class="end-box">
<li class="end-box"> <a class="link" href="/" >Rate </a> </li>
<li class="end-box"> | </li>
<li class="end-box"> <a class="link" href="/" >More info </a></li>
</ul>
</div>
</div>

<div class="two-container">
<p class="everyday"> hahaha Two </p> 

<div class="logo"> <p> Hello </p> <p> Hello </p> <li> Ha Noi mua nay vang nhung con mua</li> <li> Lay troi mua xuong</li> </div>

<div class="text-description">
<p > 0003 <p>
<p> 0004 <p>
<ul class="end-box">
<li> Ha Noi mua nay vang nhung con mua
<li> Lay troi mua xuong
<div class="text-description-in">
<p> KHi ta ngoi do </p>
</ul>
</div>
</div>



<div class="logo">
<p> 0001 </p>
<p> 0002 </p>
<li> Ha Noi mua nay vang nhung con mua
<li> Lay troi mua xuong
</div>

<div class="text-description">
<p > Hello <p>
<p> Hello <p>
<ul class="end-box">
<li> Ha Noi mua nay vang nhung con mua
<li> Lay troi mua xuong
<div class="text-description-in">
<p> KHi ta ngoi do </p>
</ul>
</div>
</div>


<div class="logo">
<p> Cai chet <p>
<p> Khong con nua <p>
<li> Ha Noi mua nay vang nhung con mua
<li> Lay troi mua xuong
</div>

<div class="text-description">
<p > Vi Sao La <p>
<div class="text-description-in">
<p> Trong truong hop <p>
</div>
<p> Sao ta k den</p>
<div class="text-description-in">
<p> KHi ta ngoi do </p>
</div>
</div>
</div>

<div style="clear: both;> </div>
<p> ABC </p>
<div class="fix-telephone-number">
<div class="fixedurl">
<p> Please enjoy </p>
<p> 0908611120 </p>
</div>

<div class="fixedbutton">
<p> Hotline </p>
<p> 0908611120 </p>
</div>
</div>

</body>
</html>